
body {
    margin: 0;
}
nav,
footer {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
}

a {
    font-size: 1em;
    color: white;
    margin: 40px;
    line-height: 1.5em;
    padding: 10px;
}

a:hover {
    background-color: white;
    color: steelblue;
}

h1 {
    text-align: center;
    color: steelblue;
    margin: 50px 0;
}

img {
    width: 30%;
    border: 4px dotted steelblue;
    border-radius: 50px;
    margin: 50px auto;
    display: block;
    padding: 25px;
}

p {
    text-align: center;
    padding: 10px;
    margin: 50px 0;
    font-size: 1.3em; 
}

#active {
    background-color: white;
    color: steelblue;
}

footer p {
    padding: 25px;
    color: white;
    font-size: 20px;
    margin: 20px auto;
}