
nav,
footer {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
}

a {
    font-size: 1em;
    color: white;
    margin: 40px;
    line-height: 1.5em;
}

a:hover {
    background-color: white;
    color: steelblue;
}

h1 {
    text-align: center;
    color: steelblue;
}

img {
    width: 30%;
    border: 4px solid steelblue;
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    padding: 10px;
}

#active {
    background-color: white;
    color: steelblue;
}